# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\KULIAH\Materi Kuliah\PBO 2 B 2021\Tugas\Jawaban\Week_04_1672063\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
